.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Footer Top */

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.footer-top-left {
  h2 {
    width: 500px;
    padding: 32px 0;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
  }
  h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
  }
  hr {
    width: 286px;
    background-color: rgba(0, 0, 0, 8%);
    border-top: none;
    margin-bottom: 16px;
  }
  a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #232536;
    &:hover {
      color: #444fcf;
    }
  }
}

.footer-top-email {
  margin-bottom: 14px;
}

.footer-top-right {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 92px;

  .footer-right_bold {
    font-weight: 600;
  }

  a {
    color: #232536;
    font-weight: 500;
    line-height: 28px;
    text-align: right;
  }
}

.main-nav {
  a {
    font-weight: 600;
    color: inherit;
    &:hover {
      color: #ffa151;
    }
  }
}

.Services-nav,
.resources-nav {
  li:first-child {
    font-weight: 600;
  }
  li:not(:first-child) {
    a {
      color: inherit;
    }
    &:hover {
      color: #ffa151;
    }
  }
}

.footer-top-navs {
  display: flex;
  gap: 100px;
}

.footer-btn {
  margin-left: 300px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

/* Footer bottom */
.footer-bottom {
  display: flex;
  align-items: center;
  margin-top: 64px;
  background: #ffe6d2;
  width: 100%;
  height: 80px;
}

.footer-bottom-icon {
  gap: 42px;
  display: flex;
  align-items: center;
}
.icons:hover path {
  fill: orange;
  transition: 0.1s;
}
.socials a {
  margin-left: 37px;
  &:hover {
    color: red;
  }
}

.footer-icon-text {
  color: #232536;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-right: 42px;
}

#isActive {
  color: orange;
}
