@import "../../css/global.css";

/* Hero */

.hero {
  width: 100%;
  background-color: #ffe6d2;
  height: 574px;
  padding: 96px;
}

.hero-container {
  display: flex;
  gap: 251px;
  align-items: center;
}

.hero-caption {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  margin-bottom: 12px;
}

.hero-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  width: 625px;
  margin-bottom: 24px;
}

.hero-paraghraph {
  color: rgba(35, 37, 54, 60%);
  width: 624px;
  margin-bottom: 40px;
}

.hero-list {
  a {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 16px;
    color: #232536;
  }
}

/* Process */

.process {
  background-color: #f9f9ff;
  padding: 96px 0;
}

.process-caption {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 87%);
}
.process-top {
  background-image: url(../../image/svg/process-bg.svg);
  background-repeat: no-repeat;
  background-position: top right;
  h2 {
    margin: 16px 0;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    width: 733px;
  }
  .process-pharaghraph {
    color: rgba(35, 37, 54, 87%);
    width: 642px;
    margin-bottom: 68px;
  }
}

.card-top,
.card-bottom {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.card-line {
  width: 48px;
  border-top: 2px dashed #dadadd;
}

.card-item {
  width: 395px;
  height: 164px;
  display: flex;
  gap: 12px;
  border: 1px solid rgba(35, 37, 54, 17%);
  img {
    margin-top: 32px;
    margin-left: 32px;
    width: 47px;
    height: 47px;
  }
}

.with-top-shape {
  background-image: url(../../image/svg/process-card-bottom.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.with-bottom-shape {
  background-image: url(../../image/svg/process-card-top.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.card-text {
  h4 {
    margin-top: 30px;
    color: #000;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
  }
  p {
    color: rgba(35, 37, 54, 60%);
    width: 289px;
  }
}

/* Support */

.support-container,
.development-container,
.aws-container,
.consulting-container,
.info-tech_container {
  display: flex;
  gap: 140px;
  img {
    margin-bottom: 96px;
  }
}

.service-card_text {
  margin-top: 140px;
  h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: rgba(0, 0, 0, 87%);
    margin-bottom: 16px;
  }
  h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    width: 624px;
    margin-bottom: 24px;
  }
  p {
    color: rgba(35, 37, 54, 60%);
    width: 629px;
  }
}

/* Development */

.development {
  background-color: #ecf8f9;
}

/* AWS */

.consulting-container {
  background-color: #f9f9ff;
}

.info-tech_container img {
  margin-bottom: 96px;
}
